<h2>Danh sách người chơi</h2>
<table class="table" border="1">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Tên người chơi</th>
    <th scope="col">Tướng tủ</th>
    <th scope="col" colspan="2">Tác vụ</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players;index as i">
    <th scope="row">{{player.id}}</th>
    <td><a [routerLink]="['/detail',player.id]">{{player.name}}</a></td>
    <td>{{player.champ}}</td>
    <td><a [routerLink]="['/edit',player.id]">Sửa</a></td>
    <td><a [routerLink]="['/delete',player.id]">Xóa</a></td>
  </tr>
  </tbody>
</table>
